.content {visibility: hidden; WIDTH: 500px; POSITION: absolute; max-width: 500px}
.obertka {z-index: 20; cursor: default; BORDER: black 1px solid; PADDING: 3px; PADDING-RIGHT: 10px; FONT-SIZE: 8pt; BACKGROUND: white; OVERFLOW: hidden; *WIDTH: expression(document.body.clientWidth > 500? "500px": "auto" ); COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TOP: -7px;  LEFT: -7px;TEXT-ALIGN: left}
.shadow {position: absolute; width: 500px; max-width: 500px; background-color: black}
.loader {FONT-SIZE: 9px; COLOR: white; BACKGROUND-COLOR: #999999; TEXT-ALIGN: center}
.flleft {FLOAT: left; TEXT-ALIGN: left}
.flright {CURSOR: pointer}
.flright2 {FLOAT: right; TEXT-ALIGN: right}
.flafter {DISPLAY: inline; FONT-WEIGHT: normal; CURSOR: pointer; FONT-STYLE: normal; TEXT-ALIGN: left; TEXT-DECORATION: none}
.flhead {WIDTH: 493px; COLOR: black; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left; min-width: 493px}
.copyurl {height:11pt;position:absolute;FONT-SIZE: 7pt; COLOR: #999999; font-weight: bold; display:none; z-index: 40}
.mod_text {FONT-SIZE: 7pt; COLOR: #ff0000}